@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #ece0d7;
  --yoga-black: #0E0E0F;
  --yoga-white: #F9F3F2;
  --yoga-red: #fdc5ba;
  --yoga-green: #8CC9D2;

  /* OP Backgrounds */
  --yoga-ligth-red: #fae0dbee;
  --yoga-ligther-red: #ffebe7ee;
  --yoga-ligth-green: #a6e8ec;
  --yoga-ligther-green: #c2ecee;
  --yoga-light-black: #171719;
  --yoga-lighter-black: #242426;


  /* Dark  Backgrounds*/
  --yoga-dark-red: #eca394;
  --yoga-darker-red: #ca9388;
  --yoga-dark-green: #13a9b1;
  --yoga-darker-green: #19949b;
  /* --yoga-dark-white: #f7efef; */
  --yoga-dark-white: #f6f1ee;
  --yoga-darker-white: #ebe4e1;

  /* Yoga Colors for the Calander */
  --yoga-type-1: var(--yoga-red);
  --yoga-op-type-1: #fdc5ba60;
  --yoga-drk-type-1: #57352f;
  
  --yoga-type-2: var(--yoga-green);
  --yoga-op-type-2: #8cc9d260;
  --yoga-drk-type-2: #0e3e49;

  --yoga-type-3: #f0db65;
  --yoga-op-type-3: #f0db6560;
  --yoga-drk-type-3: #473c06;
  
  --yoga-type-4: #75f065;
  --yoga-op-type-4: #75f06560;
  --yoga-drk-type-4: #12440a;

  --field-error: #ff6b4d;
  --bg-field-error: #803f32;
}

* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  color: var(--yoga-black);
  outline-color: var(--yoga-green);
}

*:focus, *::before:focus, *::after:focus {
  outline-color: var(--yoga-green);
  outline-style: double;
}

*::selection{
  background-color: var(--yoga-green);
  color: var(--yoga-white);
}

*::-moz-selection, *::-webkit-selection, *::-ms-selection, *::-o-selection, *::-khtml-selection {
  background-color: var(--yoga-green);
  color: var(--yoga-white);
}

/* custom Scroll Bar - the thumb the only thing show up*/
::-webkit-scrollbar {
  @apply w-1.5;
  @apply h-1.5;
  @apply bg-transparent;
  @apply appearance-none;
}

::-webkit-scrollbar-track {
  @apply bg-yoga-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-yoga-green;
  @apply transition-all;
  @apply duration-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-yoga-red;
}

/* Tailwind Custom Color Component */
@layer components {
  /* Colors */
  .text-yoga-green { @apply text-[var(--yoga-green)] }
  .text-yoga-red { @apply text-[var(--yoga-red)] }
  .text-yoga-white { @apply text-[var(--yoga-white)] }
  .text-yoga-black { @apply text-[var(--yoga-black)] }

  /* Ligth Text Colors */
  .text-yoga-green-ligth { @apply text-[var(--yoga-ligth-green)] }
  .text-yoga-green-ligther { @apply text-[var(--yoga-ligther-green)] }
  /* --- */
  .text-yoga-red-ligth { @apply text-[var(--yoga-ligth-red)] }
  .text-yoga-red-ligther { @apply text-[var(--yoga-ligther-red)] }
  /* --- */
  .text-yoga-black-ligth { @apply text-[var(--yoga-ligth-black)] }
  .text-yoga-black-ligther { @apply text-[var(--yoga-ligther-black)] }


  /* Dark Text Colors */
  .text-yoga-green-dark { @apply text-[var(--yoga-dark-green)] }
  .text-yoga-green-darker { @apply text-[var(--yoga-darker-green)] }
  /* --- */
  .text-yoga-red-dark { @apply text-[var(--yoga-dark-red)] }
  .text-yoga-red-darker { @apply text-[var(--yoga-darker-red)] }
  /* --- */
  .text-yoga-white-dark { @apply text-[var(--yoga-dark-white)] }
  .text-yoga-white-darker { @apply text-[var(--yoga-darker-white)] }


  /* Backgrounds */
  .bg-yoga-green { @apply bg-[var(--yoga-green)] }
  .bg-yoga-red { @apply bg-[var(--yoga-red)] }
  .bg-yoga-white { @apply bg-[var(--yoga-white)] }
  .bg-yoga-black { @apply bg-[var(--yoga-black)] }

  /* Ligth Backgrounds */
  .bg-yoga-red-ligth { @apply bg-[var(--yoga-ligth-red)] }
  .bg-yoga-red-ligther { @apply bg-[var(--yoga-ligther-red)] }
  /* --- */
  .bg-yoga-green-ligth { @apply bg-[var(--yoga-ligth-green)] }
  .bg-yoga-green-ligther { @apply bg-[var(--yoga-ligther-green)] }
  /* --- */
  .bg-yoga-black-ligth { @apply bg-[var(--yoga-ligth-black)] }
  .bg-yoga-black-ligther { @apply bg-[var(--yoga-ligther-black)] }

  /* Dark Backgrounds */
  .bg-yoga-red-dark { @apply bg-[var(--yoga-dark-red)] }
  .bg-yoga-red-darker { @apply bg-[var(--yoga-darker-red)] }
  /* --- */
  .bg-yoga-green-dark { @apply bg-[var(--yoga-dark-green)] }
  .bg-yoga-green-darker { @apply bg-[var(--yoga-darker-green)] }
  /* --- */
  .bg-yoga-white-dark { @apply bg-[var(--yoga-dark-white)] }
  .bg-yoga-white-darker { @apply bg-[var(--yoga-darker-white)] }

  /* Borders */
  .border-yoga-green { @apply border-[var(--yoga-green)] }
  .border-yoga-red { @apply border-[var(--yoga-red)] }
  .border-yoga-white { @apply border-[var(--yoga-white)] }
  .border-yoga-black { @apply border-[var(--yoga-black)] }

  /* Outlines */
  .outline-yoga-green { @apply outline-[var(--yoga-green)] }
  .outline-yoga-red { @apply outline-[var(--yoga-red)] }
  .outline-yoga-white { @apply outline-[var(--yoga-white)] }
  .outline-yoga-black { @apply outline-[var(--yoga-black)] }

  /* Hover */
  .hover\:yoga-green:hover { @apply hover:text-[var(--yoga-green)] }
  .hover\:yoga-red:hover { @apply hover:text-[var(--yoga-red)] }
  .hover\:yoga-white:hover { @apply hover:text-[var(--yoga-white)] }
  .hover\:yoga-black:hover { @apply hover:text-[var(--yoga-black)] }

  /* Yoga Types Colors for Calander */
  .text-yoga-1{ color: var(--yoga-drk-type-1) !important; }
  .text-yoga-2{ color: var(--yoga-drk-type-2) !important; }
  .text-yoga-3{ color: var(--yoga-drk-type-3) !important; }
  .text-yoga-4{ color: var(--yoga-drk-type-4) !important; }

  /* Box Shadow */
  .shadow-yoga-green { @apply shadow-[var(--yoga-green)] }
  .shadow-yoga-red { @apply shadow-[var(--yoga-red)] }


  @layer utilities{
    .bg-texture{
      @apply relative;
      @apply bg-yoga-white;
    }

    .texture-h::before, .texture-h-1::before, .texture-v::before, .texture-v-1::before{
      @apply content-[''];
      @apply absolute;
      @apply inset-0;
      @apply h-full;
      @apply w-full;
      @apply bg-no-repeat;
      @apply bg-origin-border;
      @apply bg-cover;
      @apply bg-center;
      @apply opacity-40; 
      @apply select-none;
    }

    .texture-h::before{
      background-image: url('/src/assets/imgs/spine/texture-horizontal.webp');
    }

    .texture-h-1::before{
      background-image: url('/src/assets/imgs/spine/texture-1-horizontal.jpg');
    }

    .texture-v::before{
      background-image: url('/src/assets/imgs/spine/texture-vertical.webp');
    }

    .texture-v-1::before{
      background-image: url('/src/assets/imgs/spine/texture-1-vertical.jpg');
    }

    .yoga-btn, .yoga-btn-sec{
      @apply flex;
      @apply items-center;
      @apply justify-center;
      @apply text-center;
      @apply font-bold;
      @apply cinzel;
      @apply px-6;
      @apply py-3;
      @apply transition-all;
      @apply ease-in-out;
      @apply outline;
      @apply outline-2;
      @apply -outline-offset-8;
    }

    .yoga-btn{
      @apply bg-yoga-red;
      @apply outline-[var(--yoga-white)];
    }

    .yoga-btn-sec{
      @apply bg-yoga-white;
      @apply outline-[var(--yoga-red)];
    }

    .yoga-btn:hover, .yoga-btn:focus, .yoga-btn:active, .yoga-btn-sec:hover, .yoga-btn-sec:focus, .yoga-btn-sec:active{
      box-shadow: 5px 5px 0 0 var(--yoga-green);
      @apply scale-[1.02];
    }

    .yoga-btn:active, .yoga-btn-sec:active{
      @apply scale-[.98];
    }

    .form-field, .field{
      @apply w-full;
      @apply h-fit;
      @apply min-h-[3rem];
      @apply px-6;
      @apply py-3;
      @apply transition-all;
      @apply duration-300;
      @apply ease-in-out;
      @apply bg-yoga-white;
      @apply outline;
      @apply outline-2;
      @apply outline-[var(--yoga-green)];
      @apply -outline-offset-8;
      @apply resize-none;
    }

    .form-field-error{
      @apply outline-[var(--field-error)];
    }

    .form-label-error{
      @apply text-[var(--field-error)];
    }

    .form-field::placeholder{
      @apply cinzel;
    }

    .form-field:hover, .form-field:focus, .form-field:active, .form-field:not(:placeholder-shown){
      box-shadow: 5px 5px 0 0 var(--yoga-red);
    }

    .form-field-mouse-interact{
      box-shadow: 5px 5px 0 0 var(--yoga-red);
    }

    .session{
      @apply p-2;
      @apply flex;
      @apply items-center;
      @apply justify-center;
      @apply flex-col;
      @apply transition-all;
      @apply duration-300;
      @apply ease-in-out;
      @apply outline;
      @apply outline-2;
      @apply -outline-offset-8;
      @apply bg-texture;
      @apply texture-h;
      @apply mix-blend-screen;
      @apply cursor-pointer;
      @apply overflow-hidden;
    }

    .session-free{
      @apply p-2;
      @apply flex;
      @apply items-center;
      @apply justify-center;
      @apply flex-col;
      @apply transition-all;
      @apply duration-300;
      @apply ease-in-out;
      @apply outline;
      @apply outline-2;
      @apply -outline-offset-8;
      @apply outline-[var(--yoga-white)];
      @apply mix-blend-screen;
      @apply overflow-hidden;
    }

    .session.session-type-1{
      @apply text-[var(--yoga-drk-type-1)] !important;
      @apply bg-[var(--yoga-op-type-1)];
      @apply outline-[var(--yoga-type-1)];
    }

    .session.session-type-2{
      @apply text-[var(--yoga-drk-type-2)] !important;
      @apply bg-[var(--yoga-op-type-2)];
      @apply outline-[var(--yoga-type-2)];
    }

    .session.session-type-3{
      @apply text-[var(--yoga-drk-type-3)] !important;
      @apply bg-[var(--yoga-op-type-3)];
      @apply outline-[var(--yoga-type-3)];
    }

    .session.session-type-4{
      @apply text-[var(--yoga-drk-type-4)] !important;
      @apply bg-[var(--yoga-op-type-4)];
      @apply outline-[var(--yoga-type-4)];
    }

    .session.session-type-1:hover, .session.session-type-1:focus, .session.session-type-1:active, .session.session-type-1.session-selected{
      box-shadow: 5px 5px 0 0 var(--yoga-type-1);
    }

    .session.session-type-2:hover, .session.session-type-2:focus, .session.session-type-2:active, .session.session-type-2.session-selected{
      box-shadow: 5px 5px 0 0 var(--yoga-type-2);
    }

    .session.session-type-3:hover, .session.session-type-3:focus, .session.session-type-3:active, .session.session-type-3.session-selected{
      box-shadow: 5px 5px 0 0 var(--yoga-type-3);
    }

    .session.session-type-4:hover, .session.session-type-4:focus, .session.session-type-4:active, .session.session-type-4.session-selected{
      box-shadow: 5px 5px 0 0 var(--yoga-type-4);
    }

    .session:hover, .session:focus, .session:active, .session.session-selected{
      @apply scale-[1.01];
    }

    .shadow-yoga-green{
      box-shadow: 0px 40px 0px 0px var(--yoga-green);
      @screen sm{
        box-shadow: 0px 80px 0px 0px var(--yoga-green);
      }
      @screen lg{
        box-shadow: 20px 20px 0px 0px var(--yoga-green);
      }
    }    
  }

}

body{
  background-image: url('/src/assets/imgs/spine/BeigeMat.webp');
  /* background-color: var(--bg); */
  background-size: 564px;
  /* background-repeat: repeat; */
  /* background-origin: border-box; */
  /* background-attachment: fixed; */
}

/* Remove the BG img when media is print */
@media print {
  body{
    background-image: none;
  }
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.EBGramond {
  font-family: 'EB Garamond', serif;
}

/* Custom Classes */
.shadow-yoga-green-sm {
  box-shadow: 20px 20px 0px 0px var(--yoga-green);
}

.shadow-yoga-green-mb {
  box-shadow: 0px 40px 0px 0px var(--yoga-green);
}