@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yoga-black: #0E0E0F;
  --yoga-white: #F9F3F2;
  --yoga-red: #FCD0C7;
  --yoga-green: #8CC9D2;
}

* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  color: var(--yoga-black);
}

/* custom Scroll Bar - the thumb the only thing show up*/
::-webkit-scrollbar {
  @apply w-1.5;
  @apply h-1.5;
  @apply bg-transparent;
  @apply appearance-none;
}

::-webkit-scrollbar-track {
  background-image: url("../assets/imgs/spine/BeigeMat.jpg");
}

::-webkit-scrollbar-thumb {
  @apply bg-yoga-green;
  @apply transition-all;
  @apply duration-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-yoga-red;
}

/* Tailwind Custom Color Component */
@layer components {
  /* Colors */
  .text-yoga-green { @apply text-[#8CC9D2] }
  .text-yoga-red { @apply text-[#FCD0C7] }
  .text-yoga-white { @apply text-[#F9F3F2] }
  .text-yoga-black { @apply text-[#0E0E0F] }
  /* Backgrounds */
  .bg-yoga-green { @apply bg-[#8CC9D2] }
  .bg-yoga-red { @apply bg-[#FCD0C7] }
  .bg-yoga-white { @apply bg-[#F9F3F2] }
  .bg-yoga-black { @apply bg-[#0E0E0F] }
  /* Borders */
  .border-yoga-green { @apply border-[#8CC9D2] }
  .border-yoga-red { @apply border-[#FCD0C7] }
  .border-yoga-white { @apply border-[#F9F3F2] }
  .border-yoga-black { @apply border-[#0E0E0F] }
  /* Hover */
  .hover\:yoga-green:hover { @apply hover:text-[#8CC9D2] }
  .hover\:yoga-red:hover { @apply hover:text-[#FCD0C7] }
  .hover\:yoga-white:hover { @apply hover:text-[#F9F3F2] }
  .hover\:yoga-black:hover { @apply hover:text-[#0E0E0F] }

  /* Box Shadow */
  .shadow-yoga-green { @apply shadow-[#8CC9D2] }
  .shadow-yoga-red { @apply shadow-[#FCD0C7] }

  @layer utilities{
    .bg-texture{
      @apply relative;
      @apply bg-yoga-white;
    }

    .texture-h::before, .texture-v::before{
      @apply content-[''];
      @apply absolute;
      @apply inset-0;
      @apply h-full;
      @apply w-full;
      @apply bg-no-repeat;
      @apply bg-origin-border;
      @apply bg-cover;
      @apply bg-center;
      @apply opacity-40; 
      @apply select-none;
      @apply -z-10;
    }

    .texture-h::before{
      background-image: url('/src/assets/imgs/spine/texture-horizontal.jpg');
    }

    .texture-v::before{
      background-image: url('/src/assets/imgs/spine/texture-vertical.jpg');
    }

    .yoga-btn, .yoga-btn-sec{
      @apply flex;
      @apply items-center;
      @apply justify-center;
      @apply text-center;
      @apply font-bold;
      @apply cinzel;
      @apply px-6;
      @apply py-3;
      @apply transition-all;
      @apply duration-300;
      @apply ease-in-out;
      @apply outline;
      @apply outline-2;
      @apply -outline-offset-8;
    }

    .yoga-btn{
      @apply bg-yoga-red;
      @apply outline-[var(--yoga-white)];
    }

    .yoga-btn-sec{
      @apply bg-yoga-white;
      @apply outline-[var(--yoga-red)];
    }

    .yoga-btn:hover, .yoga-btn:focus, .yoga-btn:active, .yoga-btn-sec:hover, .yoga-btn-sec:focus, .yoga-btn-sec:active{
      box-shadow: 5px 5px 0 0 var(--yoga-green);
      @apply scale-[1.02];
    }

    .form-field{
      @apply w-full;
      @apply h-fit;
      @apply min-h-[3rem];
      @apply px-6;
      @apply py-3;
      @apply transition-all;
      @apply duration-300;
      @apply ease-in-out;
      @apply bg-yoga-white;
      @apply outline;
      @apply outline-2;
      @apply outline-[var(--yoga-green)];
      @apply -outline-offset-8;
    }

    .form-field::placeholder{
      @apply cinzel;
    }

    .form-field:hover, .form-field:focus, .form-field:active, .form-field:not(:placeholder-shown){
      box-shadow: 5px 5px 0 0 var(--yoga-red);
    }

    .shadow-yoga-green{
      box-shadow: 0px 40px 0px 0px #8CC9D2;
      @screen sm{
        box-shadow: 20px 20px 0px 0px #8CC9D2;
      }
    }    
  }

}

body{
  background-image: url('/src/assets/imgs/spine/BeigeMat.jpg');
  background-repeat: repeat;
  background-origin: border-box;
  background-attachment: fixed;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.EBGramond{
  font-family: 'EB Garamond', serif;
}

/* Custom Classes */
.shadow-yoga-green-sm {
  box-shadow: 20px 20px 0px 0px #8CC9D2;
}

.shadow-yoga-green-mb {
  box-shadow: 0px 40px 0px 0px #8CC9D2;
}